In [3]:
import pandas as pd

In [1]:
import plotly as py
import plotly.graph_objs as go
py.tools.set_credentials_file(username='gian.lepear', api_key='zXql2DKxn9tq4DwoqwRt')

In [4]:
df = pd.read_excel('ZonaAgrupada.xlsx')

In [48]:
labels = df['zona']
values = df['count']

trace = go.Pie(labels=labels, values=values,
               hoverinfo='label+percent', textinfo='label+value', 
               textfont=dict(size=20),
               marker=dict(line=dict(color='#000000', width=2)))
layout = layout = go.Layout(title='SP-CASAS Ã€ VENDA POR ZONA', titlefont=dict(size=20),  margin=go.Margin(t=0, b=10 ,pad=5))

fig = go.Figure(data=[trace], layout=layout)

py.plotly.iplot(fig, filename='pie_chart_OLX')

In [9]:
df

     zona  preco_soma  count   preco_media
0  centro     2148350      8  7.563917e+05
1   leste   639294665   1279  7.558236e+07
2   norte     3189250      9  1.219042e+06
3   oeste   139489400     55  4.474306e+06
4     sul   185859696    160  1.430658e+07